<!DOCTYPE html>
<html>
  <head>
    <title>OPENTECH4GIRLS</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style >
       nav{
         box-shadow: none;
        background: none;
        position: absolute;
       }
    </style>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="/" class="brand-logo"><%= image_tag "/resources/img/logo.png",:style=>"height:3em;" %> </a>
            <ul class="right hide-on-med-and-down">

              <li><%= link_to "s'inscrire", new_register_path,:class=>"btn btn teal darken-4" %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <%= yield %>

    
    </div>
  </body>
</html>
